*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanir-paralax{
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/casal-paralax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    

}
.cobrir-paralax{
    background-color: white;
    width: 100%;
    height: 100vh;
  
}
.posicao-relative{
    position: relative;
}
.ola{
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
}
.text{
    top: 90px;
    position: absolute;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 70vw;
    left: 50%;
    transform: translate(-50%);
    padding: 50px 60px;
    line-height: 2em;
    border-radius: 20px 0 40px 0;
}
.text1{
    text-align: center;
    color: white;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    top: 500px;
}
.text2{
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}
.loader::after{
    animation: carregar 2s linear infinite;
    content: "";
}
@keyframes carregar{
    0%{
        content: "";

    }
    33%{
        content: ".";

    }
    66%{
        content: "..";
    }
    100%{
        content: "...";
    }
}





.paralax{
    width: 100%;
    height: 100vh;
}

.contanir-paralax2{
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/casal-paralax2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}







.album-musica{
    margin: 10px;
    margin-bottom: 60px;
    
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.cabecalho div{
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    padding: 10px;
    transform: rotate(45deg);
    top: -30%;
    box-sizing: border-box;
}
.capa{
    background-image: url(../img/foto-musica.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 320px;
}

.tempo{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.nome-musica{
    color: white;
    letter-spacing: 0.2em;
}
.botoes{
    display: flex;
    
    justify-content: space-between;
}
.botoes button{
    -webkit-tap-highlight-color: transparent;
     appearance: none;
  -webkit-appearance: none;


    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 1em;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.382);
}
#btn-play-pause{
    border: black solid 2px;
    background: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.1em;
    color: brown;
    overflow: hidden;
}
#btn-play-pause:focus{
    outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
/*css do album de musica */
.musica-paralax{
     background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}